<section ng-controller="TagsController">
  <div class="page-header">
    <h1>New Tag</h1>
  </div>
  <div class="col-md-12">
    <form name="tagForm" class="form-horizontal" ng-submit="create(tagForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="tagForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tag title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="containertag">Container Tag</label>
          <select name="containertag" id="containertag" class="form-control" ng-model="containertag" ng-options="ct as ct.title for ct in containertags track by ct._id" required></select>
          <div ng-messages="tagForm.containertag.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Container Tag is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
